<link href="~/Content/css/cssLogin.css" rel="stylesheet" />
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>
}

<div class="login center ">
    <h1 class="login__tittle">ĐĂNG NHẬP</h1>
    <form action="/Home/XLDN" method="post">
        <div class="form-group form-inline">
            <div class="col-1"></div>
            <label class="col-4 form-label ">Tên đăng nhập</label>
            <input type="text" name="txtkh" placeholder="" class="form_text form-control col-7" />
        </div>
        <div class="form-group form-inline">
            <div class="col-1"></div>
            <label class="form-label col-4" style="text-align:left">Mật khẩu</label>
            <input type="password" name="txtpass" placeholder="" class="form_text form-control col-7" />
        </div>
        <div class="form-inline">
            <div class="col-5"></div>
            <input type="submit" class="login_button btn col-7 " value="Đăng nhập" />
        </div>
        
    </form>
</div>


