<link href="~/Content/css/cssLogin.css" rel="stylesheet" />
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>
}

<div class="login center">
    <form action="/Home/XLDN" method="post">
        <input type="text" name="txtkh" placeholder="Tên đăng nhập" class="form_text"/><br />
        <input type="password" name="txtpass" placeholder="Mật khẩu" class="form_text"/><br />
        <input type="submit" value="Đăng nhập" />
    </form>
</div>


