@using shopthoitrang.Models
@model List<Loaisanpham>
<div class="dropdown-content">
    @foreach (var lh in Model)
    {
        <a href="@Url.Action("HTTheoLoaiHang","Home",new { id = @lh.Maloai })" role="menuitem">@lh.Tenloai</a>
    }
</div>
