
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Liên hệ</h2>
    </div>
    <div class="row">
        <table>
            <tr>
                <td><b>Email</b></td>
                <td>kphuc2015@gmail.com</td>
            </tr>
        </table>
    </div>
</div>

