
@{
    ViewBag.Title = "SuaKH";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Sửa thông tin khách hàng</h2>

@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>
}

<form action="/QuanLy/XLSuaKH" method="post">
    <input type="text" name="tenkh" placeholder="Tên khách hàng" /><br />
    <input type="text" name="tendn" placeholder="Tên đăng nhập" /><br />
    <input type="password" name="matkhau" placeholder="Mật khẩu" /><br />
    Giới tính
    <input type="radio" name="gioitinh" value="Nam" checked /> Nam <br />
    <input type="radio" name="gioitinh" value="Nữ" /> Nữ <br />
    <input type="text" name="dienthoai" placeholder="Điện thoại" /><br />
    <input type="text" name="email" placeholder="Email" /><br />
    <input type="text" name="diachi" placeholder="Địa chỉ" /><br />
    <input type="submit" value="Sửa" />
</form>

